node_modules
dist
.tmp
.sass-cache
bower_components
*.png
*.jpg
assets/images/cargo_helicopter/
assets/images/drilling_platform/
assets/images/military_uniform/
assets/images/ship/
assets/images/tank/
!assets/images/*.png
!docs/*.png
assets/data/*
!assets/data/media.csv
!assets/data/ships.json
!assets/images/example_media/*
!assets/images/example_media/*.jpg
!assets/images/example_media/*.csv

