node_modules
dist
.tmp
.sass-cache
bower_components
*.png
*.jpg
assets/images/
!assets/images/*.png
!docs/*.png
!assets/images/example_media/
!assets/images/example_media/*.jpg
assets/data/
!assets/data/media.csv
!assets/data/ships.json

