<div id="container">
	<div id="sub-menu-elements">
		<div class="image-clusterer-stats">
			Highlighted Images : {{vm.highlightedImageCount}} <br/>
			Selected Images : {{vm.selectedImages.images.length}} <br/>			
			Loc : x {{vm.camera.position.x.toFixed(1)}}, y {{vm.camera.position.y.toFixed(1)}}, z {{vm.camera.position.z.toFixed(1)}}
		</div>
		<div class="image-clusterer-stats">			
			Select Size : {{vm.selectSize}} <span class="pull-right"><span class="image-clusterer-stats-select" size="increase" ng-click="vm.changeSelectSize($event)">+</span> <span class="image-clusterer-stats-select" size="decrease" ng-click="vm.changeSelectSize($event)">-</span></span><br/>			
		</div>	
		<div id="image-clusterer-nav">
			Options <span style="float:right">+</span>
		</div>
	</div>
</div>
<selected-image-display selectedimages="vm.selectedImages"></selected-image-display>