#three-dim-media-clusterer #container {
    margin: 0;
}
.three-dim-media-clusterer-stats {
    position: relative;

    width: 100%;
    height: auto;
    padding: 7px;
    margin-bottom: 10px;

    font-size: 14px;
    font-style: $primary-font;

    border-radius: 5px;
    background-color: $secondary-color;
}

#three-dim-media-clusterer-nav {
    width: 200px;
    height: auto;
    padding: 7px;

    font-size: 14px;
    font-style: $primary-font;

    border-radius: 5px;
    background-color: $secondary-color;
}
.three-dim-media-clusterer-stats-select {
    padding: 1px 10px 1px 10px;

    font-weight: bold;

    cursor: pointer;

    border-radius: 3px;
    background-color: #433d4d;
}
