.startTime,
.curTime {
    font: 15px $primary-font, sans-serif;
}

.curTime {
    padding: 6px;

    background-color: #1d99af;
}

.endTime {
    float: right;

    font: 15px $primary-font, sans-serif;
}

.startTime,
.endTime {
    padding: 4px;

    background-color: $secondary-color;
}
input[type=range] {
    margin: 20px 0 20px 0;

    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;

    border: none;
    border-radius: 3px;
    background: #ddd;
}

input[type=range]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    margin-top: -4px;

    border: none;
    border-radius: 50%;
    background: $tertiary-color;

    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
