$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$primary-color: #252235;
$secondary-color: #635d6d;
$tertiary-color: #46bdd2;
$complement-color: #1d99af;
$primary-font: "Roboto Condensed";
