$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import "component.scss";
@import "selectedImageDisplay.scss";

body {
    padding-top: 62px;
    overflow: hidden;

    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#991d40+0,d1455a+55 */
    background-color: #252235;
}


.row {
    top: 0;

    margin: 0;
}
nav {
    margin: 10px;

    border: 0;
}
.navbar-fixed-top {
    top: 0;
}
.navbar-inverse {
    background-color: #635d6d;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #1d99af;
}
/* entire container, keeps perspective */
.navbar-inverse .navbar-brand {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;

    color: #46bdd2;
}
#main-bg {
    padding-top: 0;
    margin: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: lighter;

    color: #46bdd2;
}
.side-nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e9291+75,4c6f75+100 */
    background: #f1e061; /* Old browsers */
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;

    border: 3px solid #444;
    border-radius: 1px;
}
.labelled-map-file {
    width: auto;

    cursor: hand;

    border-radius: 3px;
    background-color: #999;
}

#ship-tracker .leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;

    border-width: 0;
    border-radius: 1px;
}

select {
    color: black;
}

#image-clusterer #container {
    margin: 0;
}

/* Specify styling for tooltip contents */
.tooltip.customClass .tooltip-inner {
    width: auto;

    background-color: #999;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/* Hide arrow */



.image-clusterer-stats {
    position: relative;

    width: 100%;
    height: auto;
    padding: 7px;
    margin-bottom: 10px;

    font-size: 14px;
    font-style: "Roboto Condensed";

    border-radius: 5px;
    background-color: #635d6d;
}

#image-clusterer-nav {
    width: 200px;
    height: auto;
    padding: 7px;

    font-size: 14px;
    font-style: "Roboto Condensed";

    border-radius: 5px;
    background-color: #635d6d;
}
.image-clusterer-stats-select {
    padding: 1px 10px 1px 10px;

    font-weight: bold;

    cursor: pointer;

    border-radius: 3px;
    background-color: #433d4d;
}

#sub-menu-elements {
    position: absolute;
    right: 10px;

    width: 200px;
}
.startTime,
.curTime {
    font: 12px "Roboto Condensed", sans-serif;
}

.curTime {
    padding: 4px;

    background-color: #1d99af;
}

.endTime {
    float: right;

    font: 12px "Roboto Condensed", sans-serif;
}

.startTime,
.endTime {
    padding: 4px;

    background-color: #635d6d;
}
#nga-logo {
    width: 500px;
    height: 500px;
    margin: 100px auto;
}
.angular-leaflet-map {
    color: black;
}
